.about_container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about_img{
    width: 250px;
    border-radius: 1.7rem;
    justify-self: center;
}

.about_info{
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about_box{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1.25rem;
    border-radius: 1.25rem;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.1);
}

.about-icon{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about_title{
    font-size: var(--snall-font-size);
    font-weight: var(--font-medium);
}

.about_subtitle{
    font-size: var(--tiny-font-size);
}

.about_description{
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2);
}

.section_subtitle{
    text-align: center;
}

/* Large devices */
@media screen and (max-width: 992px){
    .about_container{
        grid-template-columns: 1fr;
        row-gap: 2.5ren;
    }

    .about_img{
        width: 200px;
    }

    .about_box{
        padding: 0.75rem 0.5rem;
    }

    .about_data{
        text-align: center;
    }

    .about_info{
        justify-content: center;
    }

    .about_description{
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
  }
  
  /* Medium devices */
  @media screen and (max-width: 576px){
    .about_info{
        grid-template-columns: repeat(3, 1fr);
    }

    .about_description{
        padding: 0;
    }
    .button{
        margin-left: 0; 
    }
  }
  
  /* Small devices */
  @media screen and (max-width: 350px){
    .about_info{
        grid-template-columns: repeat(2, 1fr);
        
    }
  }