.skills_container{
    grid-template-columns: repeat(2, 350px);
    columns: 3;
    justify-content: center;

}

.skills_content{
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.1);
}

.skills_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills_container{
    margin-top: 2rem;
}

.skills_box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills_group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills_data{
    display: flex;
    column-gap: 0.35rem;
}

.skills .bxs-badge-check{
    font-size: 1rem;
    color: #4B0082;
    margin-top: 4px;
}

.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills_level{
    font-size: var(--tiny-font-size);
    color: var(--text-color-light);
}

@media screen and (max-width: 992px){
    .skills_container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
  }
  
  /* Medium devices */
  
  @media screen and (max-width: 576px){
    .skills_content{
        padding: 1.5rem;
        margin-top: 0rem
    }
  }
  
  /* Small devices */
  @media screen and (max-width: 350px){
    .skills_box{
        column-gap: 1.25rem;
    }

    .skills_name{
        font-size: var(--small-font-size);
    }
  }
  


